body {
    height: 100%;
    margin: 0;
    color: white;
    font-family: Verdana;
    background-image: 
        linear-gradient(rgba(60, 5, 99, 0.7), rgba(127, 22, 169, 0.7), rgba(254, 137, 156, 0.7)),
        url(https://i.pinimg.com/originals/86/b0/43/86b043782aba1fcb459620d188aea38f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

form {
    color: white;
    font-family: sans-serif;
    margin: auto;
    max-width: 300px;
    text-align: left;
    padding: 30px;
    background-color: rgb(75, 0, 130, 0.8);
    border: 2px solid bisque;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}

hr {
    margin: 30px 0px;
}

input, select, textarea {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.input-element {
    display: flex;
    flex-direction: column;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

button {
    background-color: rgb(255, 252, 249);
    margin-top: 15px;
    padding: 7px 17px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button:hover {
    background-color: rgba(238, 238, 238, 0.8);
    transform: scale(105%);
}

/* FOR RESPONSIVE DESIGN */
/* Tablet Screen */
@media screen and (min-width: 768px) {
    body {
        background-image: 
        linear-gradient(rgba(62, 34, 5, 0.7), rgba(96, 56, 8, 0.7), rgba(255, 158, 98, 0.7)),
        url(https://i.pinimg.com/originals/5e/71/a9/5e71a9fb3c3b60b73694b05496f70d95.jpg);
    }
    form {
        max-width: 400px;
        background-color: rgba(60, 28, 2, 0.8);
    }
    button {
        padding: 10px 20px;
        font-size: 15px;
    }
}

/* Laptop Screen */
@media screen and (min-width: 992px) {
    body {
        background-image: 
        linear-gradient(rgba(5, 29, 62, 0.7), rgba(11, 60, 113, 0.7), rgba(137, 205, 254, 0.7)),
        url(https://i.pinimg.com/originals/82/11/4b/82114bfd98fd44374db185003c29eb9e.png);
    }
    form {
        max-width: 500px;
        background-color: rgba(0, 50, 130, 0.8);
    }
    button {
        padding: 10px 23px;
        font-size: 15px;
    }
}

/* Desktop Screen */
@media screen and (min-width: 1200px) {
    body {
        background-image: 
        linear-gradient(rgba(62, 20, 5, 0.7), rgba(113, 48, 11, 0.7), rgba(254, 168, 137, 0.7)),
        url(https://i.pinimg.com/originals/0d/31/6d/0d316d2fca681a08c216a814badeb451.png);
    }
    form {
        max-width: 600px;
        background-color: rgba(54, 0, 0, 0.8);
    }
    button {
        padding: 10px 26px;
        font-size: 15px;
    }
}